*.o
/Skyviewer-build-desktop/boundary.o
/Skyviewer-build-desktop/face.o
/Skyviewer-build-desktop/healpixmap.o
/Skyviewer-build-desktop/iqu.fits
/Skyviewer-build-desktop/main.o
/Skyviewer-build-desktop/mainwindow.o
/Skyviewer-build-desktop/Makefile
/Skyviewer-build-desktop/map2048.fits
/Skyviewer-build-desktop/map512.fits
/Skyviewer-build-desktop/map.fits
/Skyviewer-build-desktop/mapviewer.o
/Skyviewer-build-desktop/mapviewport.o
/Skyviewer-build-desktop/moc_mainwindow.cpp
/Skyviewer-build-desktop/moc_mainwindow.o
/Skyviewer-build-desktop/moc_mapviewer.cpp
/Skyviewer-build-desktop/moc_mapviewer.o
/Skyviewer-build-desktop/moc_mapviewport.cpp
/Skyviewer-build-desktop/moc_mapviewport.o
/Skyviewer-build-desktop/moc_workspace.cpp
/Skyviewer-build-desktop/moc_workspace.o
/Skyviewer-build-desktop/nside128_synfast.fits
/Skyviewer-build-desktop/nside256_synfast.fits
/Skyviewer-build-desktop/nside32_synfast.fits
/Skyviewer-build-desktop/nside512_synfast.fits
/Skyviewer-build-desktop/nside64_synfast.fits
/Skyviewer-build-desktop/qrc_icons.cpp
/Skyviewer-build-desktop/qrc_icons.o
/Skyviewer-build-desktop/Skyviewer
/Skyviewer-build-desktop/temponly.fits
/Skyviewer-build-desktop/tesselation.o
/Skyviewer-build-desktop/ui_mainwindow.h
/Skyviewer-build-desktop/ui_mapviewport.h
/Skyviewer-build-desktop/vertice.o
/Skyviewer-build-desktop/workspace.o
/Skyviewer/face.o
/Skyviewer/healpixmap.o
/Skyviewer/main.o
/Skyviewer/mainwindow.o
/Skyviewer/mapviewer.o
/Skyviewer/mapviewport.o
/Skyviewer/moc_mainwindow.o
/Skyviewer/moc_mapviewer.o
/Skyviewer/moc_mapviewport.o
/Skyviewer/moc_workspace.o
/Skyviewer/qrc_icons.o
/Skyviewer/workspace.o
