*.o
/src/*.o
*.o
/src/*.fits
/src/moc_*.cpp
/src/cache
/src/skyviewer
/src/Makefile
/src/ui_*.h
/cache
/.deps
/src/.deps
/src/icons.cpp
/src/Skyviewer*
/src/stamp-h1
/src/config.h
/config.*
/autom4te.cache
aclocal.m4
/src/.kdev4
