*.o
/Skyviewer-build-desktop
/Skyviewer/*.o
/Skyviewer/*.fits
/Skyviewer_backup_19Julho.tar.gz
/*.tar.gz
/Skyviewer/moc_*.cpp
/Skyviewer/chroot
/Skyviewer/gmon.out
/Skyviewer-textures
/Skyviewer/cache
/Skyviewer/Skyviewer
/Skyviewer/Makefile
/Skyviewer/ui_*.h
